.contenedorCards{
    background-color: #444;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 50px;
}

.contenedorCards .row{
    width: 100%;
    display: flex;
    justify-content: center;
}

.contenedorCards .row .botonA{
    background-color: #F46E78;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin: 30px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedorCards .row .botonA a{
    color: white;
    font-size: 20px;
}

h2{
    margin-top: 50px;
    color: white;
}
