.card{
    width: 100%;
    text-align: center;
    background-color: white;
    border-radius: 5px;
    transition: all 0.5s;
    font-family: roboto;
    margin: 30px 10px;
    padding: 0;
    box-shadow: 10px 10px 15px rgba($color: #000000, $alpha: 0.5);

    &:hover{
    box-shadow: 0px 0px 25px rgba($color: #ffffff, $alpha: 0.5);  
    }

    img{
        height: 150px;
        object-fit: scale-down;
    }

    h5{
        font-size: 14px;
        margin: 10px 10px 5px 10px;
        height: 40px;
        color: black;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    h6{
        margin: 10px 10px 6px 10px;
        font-size: 14px;
    }

    p{
        margin: 0;
        font-size: 20px;
    }

  

    .agregar{
        width: 100%;
        height: 40px;
        background-color: #F46E78;
        border: none;
        color: white;
        font-size: 20px;
        font-weight: bold;
        border-radius: 0px 0px 5px 5px;
        margin-top: 10px;
        transition: all 0.5s;

        &:hover{
            text-decoration: none;
            font-size: 25px;
        }
    }

    .precio{
        margin-bottom: 5px;
    }
}

.cardContador{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;

    input{
        width: 80px;
        text-align: center;
    }

}