.escondido{
    position: absolute;
    right: 20px;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 400px;
    border-radius: 10px;
    background-color: white;
    z-index: 100;

    h6{
        margin-top: 10px;
    }

    ul{
        list-style: none;
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
        padding: 15px;

        li{
            margin: 0;
            margin-top: 10px;
            

            img{
                width: 50px;
                border-radius: 5px;
                object-fit: cover;
                margin: 0;
            }

            p{
                font-size: 14px;
                text-align: start;
                width: 270px;
                margin: 0px 15px;
                
            }

            h5{
                color: black;
                margin: 0px 15px;
            }
        }
    }
}

.iconCart:hover .escondido{
    display: flex;
}

.contadorUnidades{
    background-color: #F46E78;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;

    p{
        margin: 0;
        padding: 0;
        color: white;
    }
}

.cardWidgetButton{
    width: 100%;
    height: 50px;
    border-radius: 0 0 10px 10px;
    margin-top: 20px;
    background-color: #F46E78;

    &:hover{
        font-weight: border;
        color: white;
    }
}

.marPointer{
   cursor: pointer; 
}