.categorias{
    background-color: #666;
    margin-top: 20px;
    height: 35px;

    ul{
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        list-style: none;

        li{
           a{
               color: white;
               text-decoration: none;

               &:hover{
                   color: #F46E78;
               }
           }
        }
    }
}