
.col-6{
    padding: 0;
}

.checkout{
    background-color: #F46E78;
    padding: 30px 0px 0px 0px;
    margin: 50px 0px;
    border-radius: 15px;


        .contInput{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 20px;

            div{

                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;

                label{
                    margin-right: 20px;
                    margin-top: 20px;
                    width: 80px;
                    color: white;
                }

                input{
                    width: 100%;
                    height: 30px;
                    border-radius: 5px;
                    border: none;
                }

                div{
                    flex-direction: column;
                    padding: 0px 20px;
        
                    label{
                        width: 100%;
                        text-align: center;
                    }
                }

            }
        }
    }

    .botonPagar{
        height: 50px;
        width: 100%;
        background-color: white;
        border: none;
        margin-top: 30px;
        border-radius: 0px 0px 15px 15px;
        transition: all 0.5s;

        &:hover{
            font-weight: bold;
        }
    }

    .ventaTerminada{
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p{
            color: white;
            font-size: 20px;
        }
    }

    .botonA{
        border: solid 4px white;
        width: 200px;
        height: 100px;
        border-radius: 10px;
        margin: 30px 0px 30px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 10px 10px 15px rgba($color: #000000, $alpha: 0.5);
        transition: all 0.5s;
    
        &:hover{
            box-shadow: 10px 10px 55px rgba($color: #000000, $alpha: 0.5);
        }
    }
    
   .botonA a{
        width: 100%;
        height: 100%;
        text-align: center;
        color: white;
        font-size: 30px;
        padding: 25px;
        transition: all 0.5s;
    
        &:hover{
            text-decoration: none;
            font-weight: bolder;
        }
    }