header{
    background-color: #444;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}

ul li{
    display: inline;
    margin: 0px 20px 0px 20px;
}

ul li a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

ul li a:hover{
    font-weight: bold;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 30px;
    margin-left: 10px;
}

.logo h2{
    color: #F46E78;
}