.containerNosotros{
    height: 65vh;
}

.rowConsulta{
    display: flex;
    justify-content: center;

    form{
        background-color: #F46E78;
        margin: 50px 0px;
        border-radius: 15px;
        box-shadow: 10px 10px 15px rgba($color: #000000, $alpha: 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;

        input{
            width: 100%;
            height: 40px;
            border-radius: 10px;
            border: none;
            margin: 5px;
            padding-left: 10px;
        }

        textarea{
            width: 100%;
            height: 200px;
            border-radius: 10px;
            border: none;
            margin: 5px;
            padding: 10px;
        }

        .consultar{
            width: 100%;
            height: 50px;
            border-radius: 10px;
            border: none;
            margin-top: 15px;
            background-color: white;
            box-shadow: 5px 5px 15px rgba($color: #000000, $alpha: 0.5);
        }
    }
}

.consultaEnviada{
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}