.resumenProductos{
    background-color: #efefef;
    padding: 50px;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .articulos{

        display: flex;
        align-items: center;
        margin-top: 15px;

        img{
            width: 80px;
        }

        ul{
            list-style: none;
            width: 70%;

        }

        h5{
            color: black;
            margin-left: 30px;
        }
    }
}

.eliminarProducto{
    width: 30px;
    border-radius: 10px;
    transition: all 0.5s;

    &:hover{
        background-color: #555;
        color: white;
    }
}

.resumenCompra{
    background-color: #F46E78;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;

    .botonComprar{
        background-color: white;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 20px;
        color: #444;
        transition: all 0.5s;

        &:hover{
            box-shadow: 0px 0px 25px rgba($color: #000000, $alpha: 0.8);
            text-decoration: none;
        }
    }
}
